.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 4px 4px lightgrey;
  margin-bottom: 15px;
}

.switchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.switchContainer h2 {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.container h1 {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

@media (min-width: 800px) {
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }
}
